// 404
//---------------------------------------------------------------------------

// About
//---------------------------------------------------------------------------

// Archive
//---------------------------------------------------------------------------

// Avatars
//---------------------------------------------------------------------------

// Blog Post
//---------------------------------------------------------------------------

// Buttons
//---------------------------------------------------------------------------
@mixin button-variant(
	$bg,
	$bg-hover: if(type-of($bg) == color, lighten($bg, 6.2%), $bg),
	$bg-active: if(type-of($bg) == color, darken($bg, 6.2%), $bg),
	$text: contrast-color($bg),
	$text-hover: $text,
	$text-active: $text,
	$transparent-variants: if($bg == transparent, false, true)
	) {
	background-color: $bg;
	color: $text;
	&:focus, &:hover {
		background-color: $bg-hover;
		color: $text-hover;
	}
	&:active {
		background-color: $bg-active;
		color: $text-active;
	}
	&:disabled, &.button--disabled {
		background-color: $bg;
		color: $text;
	}
	&.button--static {
		background-color: $bg;
		color: $text;
	}
	@if $transparent-variants {
		&.button--outline {
			border-color: $bg;
			background-color: transparent;
			color: $bg;
			&:focus, &:hover {
				border-color: transparent;
				background-color: $bg;
				color: $text;
			}
			&:active {
				border-color: transparent;
				background-color: $bg-active;
				color: $text-active;
			}
			&:disabled, &.button--disabled {
				border-color: $bg;
				background-color: transparent;
				color: $bg;
			}
		}
		&.button--transparent {
			background-color: transparent;
			color: $bg;
			&:focus, &:hover {
				background-color: rgba($bg, 0.12);
				color: $bg;
			}
			&:active {
				background-color: rgba($bg, 0.26);
				color: $bg;
			}
			&:disabled, &.button--disabled {
				background-color: transparent;
				color: $bg;
			}
		}
	}
}

$height-button-min: min-val($height-button);
$height-button-max: max-val($height-button);

$height-button-h1-min: min-val($height-button-h1);
$height-button-h1-max: max-val($height-button-h1);

$height-button-h2-min: min-val($height-button-h2);
$height-button-h2-max: max-val($height-button-h2);

$height-button-h3-min: min-val($height-button-h3);
$height-button-h3-max: max-val($height-button-h3);

$height-button-h4-min: min-val($height-button-h4);
$height-button-h4-max: max-val($height-button-h4);

$height-button-h5-min: min-val($height-button-h5);
$height-button-h5-max: max-val($height-button-h5);

$height-button-h6-min: min-val($height-button-h6);
$height-button-h6-max: max-val($height-button-h6);

$height-button-small-min: min-val($height-button-small);
$height-button-small-max: max-val($height-button-small);

$height-button-xsmall-min: min-val($height-button-xsmall);
$height-button-xsmall-max: max-val($height-button-xsmall);

$padding-mod: 2;
$padding-mod-rounded: 1.75;
$padding-mod-icon: 3;
.button {
	@include font-size(0, false);
	@include rhythm(
		height,
		$height-button-min,
		$height-button-max
	);
	@include rhythm(
		line-height,
		'#{$height-button-min}:-#{$border-width-button * 2}',
		'#{$height-button-max}:-#{$border-width-button * 2}'
	);
	@include rhythm(
		padding,
		0 '#{$height-button-min / $padding-mod}:-#{$border-width-button}',
		0 '#{$height-button-max / $padding-mod}:-#{$border-width-button}'
	);
	@include button-variant($gray-300);
	@include border-radius($border-radius-button);
	@include transition('background, border, color');
	display: inline-block;
	margin: 0;
	border-width: $border-width-button;
	border-style: solid;
	border-color: transparent;
	outline: none;
	font-family: inherit;
	font-weight: $font-weight-button;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	&:disabled, &--disabled {
		cursor: not-allowed;
		opacity: 0.46;
	}
	&--block {
		display: block;
		width: 100%;
		+ .button--block {
			@include rhythm(margin-top, 1);
		}
	}
	&--primary {
		@include button-variant($color-primary);
	}
	&--accent {
		@include button-variant($color-accent);
	}
	&--info {
		@include button-variant($color-info, $text: $color-info-text);
	}
	&--success {
		@include button-variant($color-success, $text: $color-success-text);
	}
	&--warning {
		@include button-variant($color-warning, $text: $color-warning-text);
	}
	&--danger {
		@include button-variant($color-danger, $text: $color-danger-text);
	}
	&--link {
		@include button-variant(transparent, $text: $color-link);
	}
	&--h1 {
		@include font-size(5, false);
		@include rhythm(
			height,
			$height-button-h1-min,
			$height-button-h1-max
		);
		@include rhythm(
			line-height,
			'#{$height-button-h1-min}:-#{$border-width-button * 2}',
			'#{$height-button-h1-max}:-#{$border-width-button * 2}'
		);
		@include rhythm(
			padding,
			0 '#{$height-button-h1-min / $padding-mod}:-#{$border-width-button}',
			0 '#{$height-button-h1-max / $padding-mod}:-#{$border-width-button}'
		);
	}
	&--h2 {
		@include font-size(4, false);
		@include rhythm(
			height,
			$height-button-h2-min,
			$height-button-h2-max
		);
		@include rhythm(
			line-height,
			'#{$height-button-h2-min}:-#{$border-width-button * 2}',
			'#{$height-button-h2-max}:-#{$border-width-button * 2}'
		);
		@include rhythm(
			padding,
			0 '#{$height-button-h2-min / $padding-mod}:-#{$border-width-button}',
			0 '#{$height-button-h2-max / $padding-mod}:-#{$border-width-button}'
		);
	}
	&--h3 {
		@include font-size(3, false);
		@include rhythm(
			height,
			$height-button-h3-min,
			$height-button-h3-max
		);
		@include rhythm(
			line-height,
			'#{$height-button-h3-min}:-#{$border-width-button * 2}',
			'#{$height-button-h3-max}:-#{$border-width-button * 2}'
		);
		@include rhythm(
			padding,
			0 '#{$height-button-h3-min / $padding-mod}:-#{$border-width-button}',
			0 '#{$height-button-h3-max / $padding-mod}:-#{$border-width-button}'
		);
	}
	&--h4 {
		@include font-size(2, false);
		@include rhythm(
			height,
			$height-button-h4-min,
			$height-button-h4-max
		);
		@include rhythm(
			line-height,
			'#{$height-button-h4-min}:-#{$border-width-button * 2}',
			'#{$height-button-h4-max}:-#{$border-width-button * 2}'
		);
		@include rhythm(
			padding,
			0 '#{$height-button-h4-min / $padding-mod}:-#{$border-width-button}',
			0 '#{$height-button-h4-max / $padding-mod}:-#{$border-width-button}'
		);
	}
	&--h5 {
		@include font-size(1, false);
		@include rhythm(
			height,
			$height-button-h5-min,
			$height-button-h5-max
		);
		@include rhythm(
			line-height,
			'#{$height-button-h5-min}:-#{$border-width-button * 2}',
			'#{$height-button-h5-max}:-#{$border-width-button * 2}'
		);
		@include rhythm(
			padding,
			0 '#{$height-button-h5-min / $padding-mod}:-#{$border-width-button}',
			0 '#{$height-button-h5-max / $padding-mod}:-#{$border-width-button}'
		);
	}
	&--h6 {
		@include font-size(0, false);
		@include rhythm(
			height,
			$height-button-h6-min,
			$height-button-h6-max
		);
		@include rhythm(
			line-height,
			'#{$height-button-h6-min}:-#{$border-width-button * 2}',
			'#{$height-button-h6-max}:-#{$border-width-button * 2}'
		);
		@include rhythm(
			padding,
			0 '#{$height-button-h6-min / $padding-mod}:-#{$border-width-button}',
			0 '#{$height-button-h6-max / $padding-mod}:-#{$border-width-button}'
		);
	}
	&--small {
		@include font-size(-1, false);
		@include rhythm(
			height,
			$height-button-small-min,
			$height-button-small-max
		);
		@include rhythm(
			line-height,
			'#{$height-button-small-min}:-#{$border-width-button * 2}',
			'#{$height-button-small-max}:-#{$border-width-button * 2}'
		);
		@include rhythm(
			padding,
			0 '#{$height-button-small-min / $padding-mod}:-#{$border-width-button}',
			0 '#{$height-button-small-max / $padding-mod}:-#{$border-width-button}'
		);
	}
	&--xsmall {
		@include font-size(-2, false);
		@include rhythm(
			height,
			$height-button-xsmall-min,
			$height-button-xsmall-max
		);
		@include rhythm(
			line-height,
			'#{$height-button-xsmall-min}:-#{$border-width-button * 2}',
			'#{$height-button-xsmall-max}:-#{$border-width-button * 2}'
		);
		@include rhythm(
			padding,
			0 '#{$height-button-xsmall-min / $padding-mod}:-#{$border-width-button}',
			0 '#{$height-button-xsmall-max / $padding-mod}:-#{$border-width-button}'
		);
	}
	&--rounded {
		@include rhythm(
			padding,
			0 '#{$height-button-min / $padding-mod-rounded}:-#{$border-width-button}',
			0 '#{$height-button-max / $padding-mod-rounded}:-#{$border-width-button}'
		);
		border-radius: 99em;
		&.button--h1 {
			@include rhythm(
				padding,
				0 '#{$height-button-h1-min / $padding-mod-rounded}:-#{$border-width-button}',
				0 '#{$height-button-h1-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h2 {
			@include rhythm(
				padding,
				0 '#{$height-button-h2-min / $padding-mod-rounded}:-#{$border-width-button}',
				0 '#{$height-button-h2-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h3 {
			@include rhythm(
				padding,
				0 '#{$height-button-h3-min / $padding-mod-rounded}:-#{$border-width-button}',
				0 '#{$height-button-h3-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h4 {
			@include rhythm(
				padding,
				0 '#{$height-button-h4-min / $padding-mod-rounded}:-#{$border-width-button}',
				0 '#{$height-button-h4-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h5 {
			@include rhythm(
				padding,
				0 '#{$height-button-h5-min / $padding-mod-rounded}:-#{$border-width-button}',
				0 '#{$height-button-h5-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h6 {
			@include rhythm(
				padding,
				0 '#{$height-button-h6-min / $padding-mod-rounded}:-#{$border-width-button}',
				0 '#{$height-button-h6-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--small {
			@include rhythm(
				padding,
				0 '#{$height-button-small-min / $padding-mod-rounded}:-#{$border-width-button}',
				0 '#{$height-button-small-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--xsmall {
			@include rhythm(
				padding,
				0 '#{$height-button-xsmall-min / $padding-mod-rounded}:-#{$border-width-button}',
				0 '#{$height-button-xsmall-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
	}
	&--rounded-left {
		@include rhythm(
			padding-left,
			'#{$height-button-min / $padding-mod-rounded}:-#{$border-width-button}',
			'#{$height-button-max / $padding-mod-rounded}:-#{$border-width-button}'
		);
		border-radius: 99em 0 0 99em;
		&.button--h1 {
			@include rhythm(
				padding-left,
				'#{$height-button-h1-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h1-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h2 {
			@include rhythm(
				padding-left,
				'#{$height-button-h2-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h2-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h3 {
			@include rhythm(
				padding-left,
				'#{$height-button-h3-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h3-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h4 {
			@include rhythm(
				padding-left,
				'#{$height-button-h4-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h4-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h5 {
			@include rhythm(
				padding-left,
				'#{$height-button-h5-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h5-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h6 {
			@include rhythm(
				padding-left,
				'#{$height-button-h6-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h6-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--small {
			@include rhythm(
				padding-left,
				'#{$height-button-small-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-small-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--xsmall {
			@include rhythm(
				padding-left,
				'#{$height-button-xsmall-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-xsmall-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
	}
	&--rounded-right {
		@include rhythm(
			padding-right,
			'#{$height-button-min / $padding-mod-rounded}:-#{$border-width-button}',
			'#{$height-button-max / $padding-mod-rounded}:-#{$border-width-button}'
		);
		border-radius: 0 99em 99em 0;
		&.button--h1 {
			@include rhythm(
				padding-right,
				'#{$height-button-h1-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h1-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h2 {
			@include rhythm(
				padding-right,
				'#{$height-button-h2-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h2-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h3 {
			@include rhythm(
				padding-right,
				'#{$height-button-h3-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h3-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h4 {
			@include rhythm(
				padding-right,
				'#{$height-button-h4-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h4-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h5 {
			@include rhythm(
				padding-right,
				'#{$height-button-h5-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h5-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--h6 {
			@include rhythm(
				padding-right,
				'#{$height-button-h6-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-h6-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--small {
			@include rhythm(
				padding-right,
				'#{$height-button-small-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-small-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
		&.button--xsmall {
			@include rhythm(
				padding-right,
				'#{$height-button-xsmall-min / $padding-mod-rounded}:-#{$border-width-button}',
				'#{$height-button-xsmall-max / $padding-mod-rounded}:-#{$border-width-button}'
			);
		}
	}
	&--rounded-circle, &--square {
		@include rhythm(
			width,
			$height-button-min,
			$height-button-max
		);
		@include responsive-override(padding, 0);
		&.button--h1 {
			@include rhythm(
				width,
				$height-button-h1-min,
				$height-button-h1-max
			);
		}
		&.button--h2 {
			@include rhythm(
				width,
				$height-button-h2-min,
				$height-button-h2-max
			);
		}
		&.button--h3 {
			@include rhythm(
				width,
				$height-button-h3-min,
				$height-button-h3-max
			);
		}
		&.button--h4 {
			@include rhythm(
				width,
				$height-button-h4-min,
				$height-button-h4-max
			);
		}
		&.button--h5 {
			@include rhythm(
				width,
				$height-button-h5-min,
				$height-button-h5-max
			);
		}
		&.button--h6 {
			@include rhythm(
				width,
				$height-button-h6-min,
				$height-button-h6-max
			);
		}
		&.button--small {
			@include rhythm(
				width,
				$height-button-small-min,
				$height-button-small-max
			);
		}
		&.button--xsmall {
			@include rhythm(
				width,
				$height-button-xsmall-min,
				$height-button-xsmall-max
			);
		}
	}
	&--rounded-circle {
		border-radius: 50%;
	}
	&--icon-left {
		@include rhythm(
			padding-left,
			'#{$height-button-min / $padding-mod-icon}:-#{$border-width-button}',
			'#{$height-button-max / $padding-mod-icon}:-#{$border-width-button}'
		);
	}
	&--icon-right {
		@include rhythm(
			padding-right,
			'#{$height-button-min / $padding-mod-icon}:-#{$border-width-button}',
			'#{$height-button-max / $padding-mod-icon}:-#{$border-width-button}'
		);
	}
}
a {
	&.button {
		text-decoration: none;
		&--disabled {
			pointer-events: none;
		}
	}
}

// Callout
//---------------------------------------------------------------------------

// Clients
//---------------------------------------------------------------------------

// Comments
//---------------------------------------------------------------------------

// Contact
//---------------------------------------------------------------------------

// CTA
//---------------------------------------------------------------------------

// FAQ
//---------------------------------------------------------------------------

// Features
//---------------------------------------------------------------------------

// Footer
//---------------------------------------------------------------------------

// Forms
//---------------------------------------------------------------------------
.radio {
	display: inline-block;
	&__text {
		@include rhythm(padding-left, $height-radio + 0.25);
		display: inline-block;
		position: relative;
		&:before, &:after {
			@include rhythm(top, '#{(1 - $height-radio)/2}:#{-($border-width-radio/2)}');
			@include rhythm(width, $height-radio);
			@include rhythm(height, $height-radio);
			@include transition('border, transform, opacity');
			display: inline-block;
			position: absolute;
			left: 0;
			border-radius: 50%;
			content: '';
		}
		&:before {
			border: $border-width-radio solid currentColor;
			background-color: $color-radio-background;
		}
		&:after {
			@include rhythm(left, '0:#{$border-width-radio + $border-spacing-radio}');
			@include rhythm(top, '#{(1-$height-radio)/2}:#{($border-width-radio+($border-spacing-radio*2))/2}');
			@include rhythm(width, '#{$height-radio}:#{-($border-width-radio*2 + $border-spacing-radio*2)}');
			@include rhythm(height, '#{$height-radio}:#{-($border-width-radio*2 + $border-spacing-radio*2)}');
			transform: scale(0, 0);
			background-color: $color-radio-checked;
			opacity: 0;
		}
	}
	&__input {
		display: none;
		&:checked + .radio__text {
			&:before {
				border-color: $color-radio-checked;
			}
			&:after {
				transform: scale(1, 1);
				opacity: 1;
			}
		}
		&[disabled] + .radio__text {
			color: $color-disabled;
			cursor: not-allowed;
			&:before {
				border-color: $color-dividers;
			}
			&:after {
				background-color: $color-dividers;
			}
		}
	}
}
.checkbox {
	display: inline-block;
	&__text {
		@include rhythm(padding-left, $height-checkbox + 0.25);
		display: inline-block;
		position: relative;
		&:before {
			@include rhythm(top, '#{(1 - $height-checkbox)/2}:#{-($border-width-checkbox/2)}');
			@include rhythm(width, $height-checkbox);
			@include rhythm(height, $height-checkbox);
			@include border-radius($border-radius-checkbox);
			@include transition('background, border, opacity');
			display: inline-block;
			position: absolute;
			left: 0;
			border: $border-width-checkbox solid $color-checkbox-border;
			background-color: $color-checkbox-background;
			content: '';
		}
		&:after {
			@include rhythm(left, '0:#{$border-width-checkbox + $border-spacing-checkbox}');
			@include rhythm(top, '#{(1-$height-checkbox)/2}:#{($border-width-checkbox+($border-spacing-checkbox*2))/2}');
			@include rhythm(width, '#{$height-checkbox}:#{-($border-width-checkbox*2 + $border-spacing-checkbox*2)}');
			@include rhythm(height, '#{$height-checkbox}:#{-($border-width-checkbox*2 + $border-spacing-checkbox*2)}');
			@include border-radius($border-radius-checkbox);
			display: inline-block;
			position: absolute;
			border-color: transparent;
			background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgdmVyc2lvbj0iMS4xIgogICB2aWV3Qm94PSIwIDAgMSAxIgogICBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWluWU1pbiBtZWV0Ij4KICA8cGF0aAogICAgIGQ9Ik0gMC4wNDAzODA1OSwwLjYyNjc3NjcgMC4xNDY0NDY2MSwwLjUyMDcxMDY4IDAuNDI5Mjg5MzIsMC44MDM1NTMzOSAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IE0gMC4yMTcxNTcyOSwwLjgwMzU1MzM5IDAuODUzNTUzMzksMC4xNjcxNTcyOSAwLjk1OTYxOTQxLDAuMjczMjIzMyAwLjMyMzIyMzMsMC45MDk2MTk0MSB6IgogICAgIGlkPSJyZWN0Mzc4MCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K') no-repeat;
			content: '';
			opacity: 0;
		}
	}
	&__input {
		display: none;
		&:checked + .checkbox__text {
			&:before {
				border-color: $color-checkbox-checked;
				background-color: $color-checkbox-checked;
			}
			&:after {
				opacity: 1;
			}
		}
		&[disabled] {
			+ .checkbox__text {
				color: $color-disabled;
				cursor: not-allowed;
				&:before {
					border-color: $color-dividers;
					background-color: transparent;
				}
			}
			&:checked + .checkbox__text {
				&:before {
					border-color: transparent;
					background-color: $color-dividers;
				}
			}
		}
	}
}

// Header
//---------------------------------------------------------------------------

// Headings
//---------------------------------------------------------------------------

// Hero
//---------------------------------------------------------------------------

// 	Icons
//---------------------------------------------------------------------------
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	// src: url('../icons/material/MaterialIcons-Regular.eot'); // For IE6-8
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url('../icons/material/MaterialIcons-Regular.woff2') format('woff2'),
	url('../icons/material/MaterialIcons-Regular.woff') format('woff'),
	url('../icons/material/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons, .icon {
	display: inline-block;
	font-family: 'Material Icons';
	font-size: inherit;
	font-style: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: inherit;
	text-rendering: optimizeLegibility; // Support for Safari and Chrome.
	text-transform: none;
	white-space: nowrap;
	vertical-align: top;
	word-wrap: normal;
	direction: ltr;
	// sass-lint:disable no-vendor-prefixes
	-webkit-font-smoothing: antialiased; // Support for all WebKit browsers.
	-moz-osx-font-smoothing: grayscale; // Support for Firefox.
	// sass-lint:enable no-vendor-prefixes
	font-feature-settings: 'liga'; // Support for IE.
}

// Jobs
//---------------------------------------------------------------------------

// Legal-nav
//---------------------------------------------------------------------------

// Main-cta
//---------------------------------------------------------------------------

// Main-nav
//---------------------------------------------------------------------------

// Newsletter
//---------------------------------------------------------------------------

// Page Title
//---------------------------------------------------------------------------

// Pagination
//---------------------------------------------------------------------------

// Post-teaser
//---------------------------------------------------------------------------

// Process
//---------------------------------------------------------------------------

// Quote-banner
//---------------------------------------------------------------------------

// Offices
//---------------------------------------------------------------------------

// Sec-nav
//---------------------------------------------------------------------------

// Share buttons
//---------------------------------------------------------------------------

// Social-media
//---------------------------------------------------------------------------

// Team
//---------------------------------------------------------------------------

// Testimonials
//---------------------------------------------------------------------------

// Topbar
//---------------------------------------------------------------------------

// reasons
//---------------------------------------------------------------------------

// Wordpress
//---------------------------------------------------------------------------

// Work List
//---------------------------------------------------------------------------

// Work Detail
//---------------------------------------------------------------------------
