.baseline {
	&:before {
		@include rhythm(background-size, 100% 1);
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: auto;
		height: inherit;
		background-position: left top;
		content: '';
		z-index: 99999;
		pointer-events: none;
	}
	&.baseline--full:before {
		background-image: linear-gradient(transparent 96%, #49FFFF 96%);
	}
	&.baseline--half:before {
		background-image: linear-gradient(transparent 46%, #49FFFF 46%, #49FFFF 50%, transparent 50%, transparent 96%, #49FFFF 96%);
	}
}
.dev-bar {
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 12px;
	line-height: 2;
	z-index: 9999999;
	.dev-option {
		display: inline-block;
		margin-right: 3px;
		padding: 0 12px;
		background-color: #212121;
		color: #FFFFFF;
		font-weight: 500;
		text-transform: capitalize;
	}
}