// Audios and Videos
//---------------------------------------------------------------------------
audio, video {
	max-width: 100%;
}

// Forms and Inputs
//---------------------------------------------------------------------------
// sass-lint:disable no-vendor-prefixes force-element-nesting
@include placeholder($color-hint);
form {
	@include rhythm(margin, 0 0 1 0);
	&:last-child {
		margin-bottom: 0;
	}
}
fieldset, legend {
	margin: 0;
	padding: 0;
	border: none;
}
fieldset {
	@include rhythm(margin-bottom, 1);
	&:last-child {
		margin-bottom: 0;
	}
}
legend {
	@include font-size(1);
	@include rhythm(margin-bottom, 1);
	display: block;
	font-weight: $font-weight-heading;
}
label {
	&[for] {
		cursor: pointer;
	}
}
button, input, select, textarea {
	outline: none;
	font-family: inherit;
	font-weight: $font-weight-input;
	box-shadow: none;
	vertical-align: middle;
}
input:not([type]), [type='date'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'] {
	@include font-size(0, false);
	@include rhythm(line-height, '#{$height-input}:#{-$border-width-input*2}');
	@include rhythm(height, $height-input);
	@include rhythm(min-width, $min-width-input);
	@include rhythm(padding, 0 $height-input / 3);
	@include border-radius($border-radius-input);
	@include transition(border);
	border: $border-width-input solid $color-input-border;
	background-color: $color-input-background;
	color: $color-text-primary;
	&:disabled {
		background-color: $color-input-disabled-background;
		cursor: not-allowed;
		opacity: 0.5;
	}
	&:focus {
		border-color: $color-input-active-border;
	}
	&:not(:placeholder-shown) {
		&:valid:focus {
			border-color: $color-input-valid-border;
		}
		&:invalid:not(:focus) {
			border-color: $color-input-invalid-border;
		}
	}
}
[type='date'], [type='datetime-local'], [type='month'], [type='time'], [type='week'] {
	.ua-desktop.ua-chrome & {
		padding-right: 0;
		&::-webkit-clear-button {
			@include rhythm(width, $height-input);
			height: 100%;
			@include rhythm(margin-left, $height-input / 4);
			background-image: svg-uri('<svg fill="#{$color-text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1em 1em;
			-webkit-appearance: none;
		}
		&::-webkit-inner-spin-button {
			height: 100%;
			margin-left: 0;
			// @include rhythm(margin-left, $height-input / 4.5);
		}
		&::-webkit-calendar-picker-indicator {
			@include rhythm(width, $height-input / 1.5);
			height: 100%;
			margin-left: 0;
			// @include rhythm(margin-left, $height-input / 4);
			padding: 0;
			background-color: $color-input-border;
			background-image: svg-uri('<svg fill="#{$color-text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/><path d="M0-.75h24v24H0z" fill="none"/></svg>');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1em 1em;
			color: transparent;
			-webkit-appearance: none;
		}
	}
	.ua-mobile & {
		background-color: transparent;
		background-image: svg-uri('<svg fill="#{$color-text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/><path d="M0-.75h24v24H0z" fill="none"/></svg>');
		background-repeat: no-repeat;
		@include rhythm(background-position, right ($height-input / 3) center);
		background-size: 1em 1em;
		color: $color-text-primary;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
}
[type='number'] {
	.ua-chrome & {
		padding-right: 0;
		&::-webkit-textfield-decoration-container {
			height: 100%;
		}
	}
}
[type='color'] {
	@include rhythm(height, $height-input);
	@include rhythm(width, $height-input);
	@include border-radius($border-radius-input);
	margin: 0;
	padding: 0;
	@include transition(border);
	border: $border-width-input solid $color-input-border;
	background-color: transparent;
	.ua-ie & {
		width: auto;
		@include rhythm(padding, 0 $height-input / 3);
	}
	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	&::-webkit-color-swatch {
		border: none;
	}
	&:focus {
		border-color: $color-input-active-border;
	}
}
[type='file'] {
	@include rhythm(line-height, 1);
	@include rhythm(height, $height-input);
	label.button & {
		display: none;
	}
}
[type='range'] {
	@include rhythm(line-height, $height-input);
	@include rhythm(height, $height-input);
	@include rhythm(min-width, $min-width-input);
	background-color: transparent; // Otherwise white in Chrome
	cursor: pointer;
	-webkit-appearance: none; // Hides the webkit slider so that custom slider can be made
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: $border-width-slider;
		@include transition(background);
		border: none;
		@include border-radius($border-radius-slider);
		background-color: $color-slider-track;
		cursor: pointer;
	}
	&::-webkit-slider-thumb {
		@include rhythm(width, $height-slider-thumb);
		@include rhythm(height, $width-input-thumb);
		@include rhythm(margin-top, '#{($width-input-thumb / -2)}:#{$border-width-slider / 2}');
		@include transition('background, transform');
		border: none;
		border-radius: 50%;
		background-color: $color-slider-thumb;
		cursor: pointer;
		-webkit-appearance: none;
	}
	&::-moz-range-track {
		width: 100%;
		height: $border-width-slider;
		border: none;
		@include border-radius($border-radius-slider);
		background-color: $color-slider-track;
		cursor: pointer;
	}
	&::-moz-range-thumb {
		@include rhythm(width, $height-slider-thumb);
		@include rhythm(height, $width-input-thumb);
		border: none;
		background-color: $color-slider-thumb;
		cursor: pointer;
	}
	&::-ms-track {
		width: 100%;
		height: $border-width-slider;
		border: none;
		background-color: transparent;
		color: transparent;
		cursor: pointer;
	}
	&::-ms-fill-lower {
		border: none;
		background-color: $color-slider-track-active;
		@include border-radius($border-radius-slider);
	}
	&::-ms-fill-upper {
		border: none;
		background-color: $color-slider-track;
		@include border-radius($border-radius-slider);
	}
	&::-ms-thumb {
		@include rhythm(width, $height-slider-thumb);
		@include rhythm(height, $width-input-thumb);
		transform: translateY($border-width-slider);
		border: none;
		border-radius: 50%;
		background-color: $color-slider-thumb-active;
		cursor: pointer;
	}
	&:focus {
		&::-webkit-slider-runnable-track {
			background-color: $color-slider-track-active;
		}
		&::-webkit-slider-thumb {
			background-color: $color-slider-thumb-active;
		}
		&::-moz-range-track {
			background-color: $color-slider-track-active;
		}
		&::-moz-range-thumb {
			background-color: $color-slider-thumb-active;
		}
	}
	&:active {
		&::-webkit-slider-thumb {
			transform: scale(1.5);
		}
		&::-moz-range-thumb {
			transform: scale(1.5);
		}
		&::-ms-thumb {
			transform: scale(1.5) translateY($border-width-slider / 2);
		}
	}
	&:disabled {
		opacity: 0.5;
		&::-webkit-slider-runnable-track {
			background-color: $color-slider-track;
		}
		&::-webkit-slider-thumb {
			background-color: $color-slider-thumb;
		}
		&::-moz-range-track {
			background-color: $color-slider-track;
		}
		&::-moz-range-thumb {
			background-color: $color-slider-thumb;
		}
		&::-webkit-slider-thumb {
			transform: scale(1);
		}
		&::-moz-range-thumb {
			transform: scale(1);
		}
		&::-ms-thumb {
			transform: translateY($border-width-slider);
		}
	}
	.ua-ie & {
		box-sizing: content-box;
		&::-ms-thumb {
			transform: translateY(0);
		}
		&:active {
			&::-ms-thumb {
				transform: scale(1.5);
			}
		}
	}
	.ua-mobile & {
		&:hover {
			&::-webkit-slider-runnable-track {
				background-color: $color-slider-track-active;
			}
			&::-webkit-slider-thumb {
				background-color: $color-slider-thumb-active;
			}
			&::-webkit-slider-thumb {
				transform: scale(1.5);
			}
		}
	}
	.ua-mobile.ua-firefox & {
		border: none;
		&:hover, &:focus, &:active {
			&::-moz-range-track {
				background-color: $color-slider-track-active;
			}
			&::-moz-range-thumb {
				background-color: $color-slider-thumb-active;
			}
		}
	}
}
[list] {
	.ua-chrome & {
		padding-right: 0;
		&::-webkit-calendar-picker-indicator {
			@include rhythm(width, $height-input / 1.5);
			@include rhythm(height, $height-input);
			padding: 0;
			background-color: $color-input-border;
			background-image: svg-uri('<svg fill="#{$color-text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/><path d="M0-.75h24v24H0z" fill="none"/></svg>');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1em 1em;
			color: transparent;
			-webkit-appearance: none;
		}
	}
}
textarea {
	@include font-size(0);
	@include rhythm(min-height, $min-height-textarea);
	@include rhythm(min-width, $min-width-input);
	@include rhythm(padding, $height-input / 4 $height-input / 3);
	@include border-radius($border-radius-input);
	@include transition(border);
	border: $border-width-input solid $color-input-border;
	background-color: $color-input-background;
	color: $color-text-primary;
	&:disabled {
		background-color: $color-input-disabled-background;
		cursor: not-allowed;
		opacity: 0.5;
	}
	&:focus {
		border-color: $color-input-active-border;
	}
}
select {
	@include font-size(0, false);
	@include rhythm(line-height, '#{$height-input}:#{-$border-width-input * 2}');
	@include rhythm(height, $height-input);
	@include rhythm(min-width, $min-width-input);
	@include rhythm(padding, 0 '#{$height-input / 3}:#{-$border-width-input}');
	@include border-radius($border-radius-input);
	@include transition(border);
	border: $border-width-input solid $color-input-border;
	background-color: $color-input-background;
	color: $color-text-primary;
	.ua-chrome &, .ua-firefox & {
		background-color: transparent;
		background-image: svg-uri('<svg fill="#{$color-text-primary}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/><path d="M0-.75h24v24H0z" fill="none"/></svg>');
		background-repeat: no-repeat;
		@include rhythm(background-position, right ($height-input / 3) center);
		background-size: 1em 1em;
		-moz-appearance: none;
		-webkit-appearance: none;
	}
	option, optgroup {
		color: $color-text-primary;
		font-family: inherit;
	}
	&:disabled {
		background-color: $color-input-disabled-background;
		cursor: not-allowed;
		opacity: 0.5;
	}
	&:focus {
		border-color: $color-input-active-border;
		option {
			&:checked {
				background-color: $color-primary;
				color: $color-primary-text;
			}
		}
	}
	option {
		&:hover, &:active, &:checked {
			background-color: $color-input-border;
			color: $color-text-primary;
		}
	}
	&[size], &[multiple] {
		.ua-desktop & {
			@include rhythm(padding, $height-input / 6 0);
			height: auto;
			option {
				@include rhythm(padding, $height-input / 6 $height-input / 3);
				@include transition('background, color');
			}
		}
		.ua-chrome &, .ua-firefox & {
			background-image: none;
		}
	}
	.ua-ie & {
		@include rhythm(min-width, '#{$min-width-input + $height-input / 4}:#{-$border-width-input}');
		padding-right: 0;
	}
	.ua-edge & {
		&[size], &[multiple] {
			padding-top: 0;
			padding-bottom: 0;
			option {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}
button, [type='button'], [type='reset'], [type='submit'] {
	$height-button-min: min-val($height-button);
	$height-button-max: max-val($height-button);
	@include font-size(0, false);
	@include rhythm(
		line-height,
		$height-button-min,
		$height-button-max
	);
	@include rhythm(
		height,
		$height-button-min,
		$height-button-max
	);
	@include rhythm(
		padding,
		0 $height-button-min / 2,
		0 $height-button-max / 2
	);
	@include border-radius($border-radius-button);
	@include transition('background, border, color');
	margin: 0;
	border: none;
	outline: none;
	background-color: $gray-300;
	color: $color-text-primary;
	font-weight: $font-weight-button;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	&:focus, &:hover {
		background-color: lighten($gray-300, 5%);
	}
	&:active {
		background-color: darken($gray-300, 5%);
	}
	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
// sass-lint:enable no-vendor-prefixes

// Images and figures
//---------------------------------------------------------------------------
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
figure {
	@include rhythm(margin, 0 0 1 0);
	display: inline-block;
	padding: 0;
	img {
		width: 100%;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
figcaption {
	@include font-size(-1, 1.5);
	color: $color-text-secondary;
	text-align: center;
}

// Links
//---------------------------------------------------------------------------
a {
	color: $color-link;
	font-weight: $font-weight-link;
	text-decoration: none;
	word-wrap: break-word; // Break long URLS
	&:hover, &:focus, &:active {
		cursor: pointer; // some <a> without href
	}
}

// Lists
//---------------------------------------------------------------------------
dl {
	@include rhythm(margin, 0 0 1 0);
	&:last-child {
		margin-bottom: 0;
	}
}
dt {
	font-weight: $font-weight-dt;
}
dd {
	@include rhythm(margin, 0 0 1 0);
	&:last-child {
		margin-bottom: 0;
	}
}
ol, ul {
	@include rhythm(padding, 0 0 0 1);
	@include rhythm(margin, 0 0 1 0);
	ul, ol {
		@include rhythm(padding-left, 1);
		margin-bottom: 0;
		// padding-left: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

// Quotes
//---------------------------------------------------------------------------
q {
	// quotes: '\201C' '\201D' '\2018' '\2019'; // '“' '”' '‘' '’'
	hyphens: none;
	&:before {
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
}
blockquote {
	@include rhythm(padding, 0 0 0 1);
	@include rhythm(margin, 0 0 1);
	border-left: $border-width-quote solid currentColor;
	font-weight: $font-weight-quote;
	&:last-child {
		margin-bottom: 0;
	}
	cite {
		display: block;
		font-style: normal;
		font-weight: $font-weight-base;
		&:before {
			content: '\2014\00A0';
		}
	}
}

// Tables
//---------------------------------------------------------------------------
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	text-align: left;
}
table {
	@include rhythm(margin-bottom, 1);
	border-collapse: collapse;
	border-spacing: 0;
	&:last-child {
		margin-bottom: 0;
	}
}
caption {
	color: $color-text-secondary;
	text-align: center;
	caption-side: bottom;
}
th, td {
	@include rhythm(padding, 0.25 0.5);
	vertical-align: top;
	&:empty {
		content: '\00a0';
	}
	@include trailing-content($top: -($border-width-table / 2)) {
		border-top: $border-width-table solid $color-dividers;
	}
}
thead {
	th {
		vertical-align: bottom;
		&:after {
			border-bottom: $border-width-table solid $color-dividers;
		}
	}
}

// Typography
//---------------------------------------------------------------------------
@include establish-baseline;
@include selection {
	background-color: $color-primary;
	color: $color-primary-text;
}
body {
	background-color: $color-background;
	color: $color-text-primary;
	font-family: $font-family-base;
	font-weight: $font-weight-base;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	@if $font-family-heading != $font-family-base {
		font-family: $font-family-heading;
	}
	font-weight: $font-weight-heading;
	text-rendering: optimizeLegibility;
}
h1 {
	@include font-size(5);
}
h2 {
	@include font-size(4);
}
h3 {
	@include font-size(3);
}
h4 {
	@include font-size(2);
}
h5 {
	@include font-size(1);
}
h6 {
	@include font-size(0);
}
small {
	@include font-size(-1, normal);
}
p {
	@include rhythm(margin, 0 0 1 0);
	&:last-child {
		margin-bottom: 0;
	}
}
b, strong {
	font-weight: $font-weight-bold;
}
dfn, cite, em, i {
	font-style: italic;
}
address {
	@include rhythm(margin, 0 0 1 0);
	font-style: normal;
	&:last-child {
		margin-bottom: 0;
	}
}
code, kbd, var, samp, pre {
	@include font-size(0);
	font-family: $font-family-code;
	hyphens: none;
}
:not(pre) > code {
	padding: 0.175em 0.35em;
	border-radius: 0.175em;
	background-color: $alpha-black-100;
}
kbd {
	@include font-size(-1, normal);
	padding: 0.175em 0.35em;
	border-radius: 0.175em;
	background-color: $alpha-black-800;
	color: $alpha-white-800;
}
pre {
	@include rhythm(padding, 1);
	@include rhythm(margin, 0 0 1 0);
	@include border-radius($border-radius-pre);
	background-color: $alpha-black-50;
	overflow: auto;
	&:last-child {
		margin-bottom: 0;
	}
}
abbr[title] {
	border-bottom: 1px dotted currentColor;
	text-decoration: none;
	// cursor: help;
}
mark {
	padding: 0.1em 0;
	background-color: $color-mark-text-background;
}
hr {
	@if min-val($border-width-hr) % 2 == 0 {
		@include rhythm(margin, '1:-#{$border-width-hr / 2}' 0);
	} @else {
		@include rhythm(margin, '1:-#{($border-width-hr + 1px) / 2}' 0 '1:-#{($border-width-hr - 1px) / 2}');
	}
	border: none;
	border-bottom: $border-width-hr solid $color-dividers;
}
