
// Animations, Transitions
//---------------------------------------------------------------------------

// Drawer
//---------------------------------------------------------------------------

// Icons
//---------------------------------------------------------------------------

// List Bare
//---------------------------------------------------------------------------
.list {
	&--inline {
		display: inline;
		margin: 0;
		padding: 0;
		.list__item {
			@include rhythm(margin-right, 1);
			float: left;
			list-style-position: inside;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&--inline-text {
		display: inline;
		margin: 0;
		padding: 0;
		list-style-type: none;
		> .list__item {
			@include rhythm(margin-right, 1);
			display: inline;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&--style-disc {
		list-style-type: disc;
	}
	&--style-armenian {
		list-style-type: armenian;
	}
	&--style-circle {
		list-style-type: circle;
	}
	&--style-cjk-ideographic {
		list-style-type: cjk-ideographic;
	}
	&--style-decimal {
		list-style-type: decimal;
	}
	&--style-decimal-leading-zero {
		list-style-type: decimal-leading-zero;
	}
	&--style-georgian {
		list-style-type: georgian;
	}
	&--style-hebrew {
		list-style-type: hebrew;
	}
	&--style-hiragana {
		list-style-type: hiragana;
	}
	&--style-hiragana-iroha {
		list-style-type: hiragana-iroha;
	}
	&--style-katakana {
		list-style-type: katakana;
	}
	&--style-katakana-iroha {
		list-style-type: katakana-iroha;
	}
	&--style-lower-alpha {
		list-style-type: lower-alpha;
	}
	&--style-lower-greek {
		list-style-type: lower-greek;
	}
	&--style-lower-latin {
		list-style-type: lower-latin;
	}
	&--style-lower-roman {
		list-style-type: lower-roman;
	}
	&--style-none, &--no-style {
		list-style-type: none;
	}
	&--style-square {
		list-style-type: square;
	}
	&--style-upper-alpha {
		list-style-type: upper-alpha;
	}
	&--style-upper-latin {
		list-style-type: upper-latin;
	}
	&--style-upper-roman {
		list-style-type: upper-roman;
	}
	&--position-inside {
		padding-left: 0;
		list-style-position: inside;
	}
}

// AJAX Preloader
//---------------------------------------------------------------------------

// Media
//---------------------------------------------------------------------------
.embed-responsive { // Requires JS
	display: block;
	position: relative;
	height: 0;
	padding: 0;
	// overflow: hidden;
	&__item { // audio, embed, iframe, img, object, video
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
	&--video {
		display: block;
		position: static;
		height: auto;
		// padding: initial !important;
		padding: initial;
		overflow: hidden;
		video {
			width: 100%;
			height: auto;
		}
	}
}

// Layout
//---------------------------------------------------------------------------

// Overlays
//---------------------------------------------------------------------------

// Wrappers
//---------------------------------------------------------------------------
.wrapper {
	@include rhythm(padding, 0 1);
	max-width: breakpoint-last-width(px);
	margin-right: auto;
	margin-left: auto;
}