// Rhythm and Breakpoint module settings
//---------------------------------------------------------------------------
$mobile-first: 						ture;
$font-size-base: 					12px 16px;
$line-height-base: 					1.5;
$type-scale-ratio: 					1.1875 1.25;
$rhythm-unit: 						rem;
$round-to-nearest-half-line: 		true;
$modular-scale-round-function: 		round;
$default-media-type: 				screen;

$media-query-unit: 					em;
$breakpoints: (
	mobile: 						480px,
	tablet: 						840px,
	desktop: 						1080px
);

// Typography
//---------------------------------------------------------------------------
$font-family-base: 					Roboto, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$font-family-heading: 				$font-family-base;
$font-family-code: 					Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-weight-base: 					400;
$font-weight-bold: 					500;
$font-weight-heading: 				500;
$font-weight-link: 					500;
$font-weight-input: 				400;
$font-weight-button: 				500;
$font-weight-dt: 					500;
$font-weight-quote: 				500;

// Grid system
//---------------------------------------------------------------------------

// Colors
//---------------------------------------------------------------------------
$color-primary: 					#3F51B5;
$color-primary-text: 				#FFFFFF;
$color-accent: 						#FF4081;
$color-accent-text: 				#FFFFFF;

$color-info: 						#03A9F4;
$color-info-text: 					#FFFFFF;
$color-success: 					#4CAF50;
$color-success-text: 				#FFFFFF;
$color-warning: 					#FFC107;
$color-warning-text: 				$alpha-black-900;
$color-danger: 						#F44336;
$color-danger-text: 				#FFFFFF;

$color-background: 					#FFFFFF;
$color-text-primary: 				$alpha-black-900;
$color-text-secondary: 				$alpha-black-600;
$color-disabled: 					$alpha-black-500;
$color-hint: 						$alpha-black-500;
$color-dividers: 					$alpha-black-300;
$color-link: 						$color-accent;
$color-mark-text-background: 		#FFFF8D;

$color-input-background: 			#FFFFFF;
$color-input-border: 				$gray-300;
$color-input-active-border: 		$color-primary;
$color-input-valid-border: 			$color-success;
$color-input-invalid-border: 		$color-danger;
$color-input-disabled-background: 	$alpha-black-100;

$color-slider-track: 				$gray-300;
$color-slider-thumb: 				$gray-300;
$color-slider-track-active: 		$color-primary;
$color-slider-thumb-active: 		$color-primary;

$color-radio-border: 				currentColor;
$color-radio-background: 			#FFFFFF;
$color-radio-checked: 				$color-primary;

$color-checkbox-border: 			currentColor;
$color-checkbox-background: 		#FFFFFF;
$color-checkbox-checked: 			$color-primary;


// Borders widths
//---------------------------------------------------------------------------
$border-width-hr: 					2px;
$border-width-input: 				2px;
$border-width-slider: 				2px;
$border-width-button: 				2px;
$border-width-table: 				2px;
$border-width-quote: 				2px;
$border-width-radio: 				2px;
$border-width-checkbox: 			2px;
$border-spacing-radio: 				2px;
$border-spacing-checkbox: 			0px;

// Borders radiuses
//---------------------------------------------------------------------------
$enable-border-radius: 				true;
$border-radius-pre: 				2px;
$border-radius-input: 				2px;
$border-radius-slider: 				2px;
$border-radius-button: 				2px;
$border-radius-table: 				2px;
$border-radius-menu: 				2px;
$border-radius-checkbox: 			2px;

// Widths and Heights
//---------------------------------------------------------------------------
$height-input: 						1.5;
$min-width-input: 					$height-input * 6;

$min-height-textarea: 				$height-input * 2;

$height-slider-thumb: 				0.5;
$width-input-thumb: 				0.5;

$height-radio: 						0.625;
$height-checkbox: 					0.625;

$height-button: 					1.5		1.5;
$height-button-xsmall: 				0.75 	1;
$height-button-small: 				1 		1;
$height-button-h6: 					1.25 	1.5;
$height-button-h5: 					1.5 	2;
$height-button-h4: 					1.75 	2.5;
$height-button-h3: 					2 		3;
$height-button-h2: 					2.25 	3.5;
$height-button-h1: 					2.5 	4;

// Transitions
//---------------------------------------------------------------------------
$enable-transitions: 				true;
$transition-duration: 				0.3s;
$transition-timing: 				cubic-bezier(0.4, 0, 0.2, 1);

// Shadows
//---------------------------------------------------------------------------
$enable-shadows: 					true;

