// Functions
//---------------------------------------------------------------------------
@function contrast-color($bg, $dark: $color-text-primary, $light: #FFF) {
	$luma-bg: color-luma($bg);
	$luma-dark: color-luma($dark);
	$luma-light: color-luma($light);
	$diff-dark: abs($luma-bg -$luma-dark);
	$diff-light: abs($luma-bg -$luma-light);
	@if $diff-dark > $diff-light {
		@return $dark;
	} @else {
		@return $light;
	}
}
@function svg-uri($svg) {
	$encoded: '';
	$slice: 2000;
	$index: 0;
	$loops: ceil(str-length($svg) / $slice);
	@for $i from 1 through $loops {
		$chunk: str-slice($svg, $index, $index + $slice - 1);
		$chunk: str-replace($chunk, '\'', '"');
		$chunk: str-replace($chunk, '<', '%3C');
		$chunk: str-replace($chunk, '>', '%3E');
		$chunk: str-replace($chunk, '&', '%26');
		$chunk: str-replace($chunk, '#', '%23');
		$encoded: #{$encoded}#{$chunk};
		$index: $index + $slice;
	}
	@return url('data:image/svg+xml;charset=utf8,#{$encoded}');
}
@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);
	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}
	@return $string;
}

// Mixins
//---------------------------------------------------------------------------
// Optional pseudo elements selector at root
@mixin optional-at-root($selector) {
	@at-root #{if(not &, $selector, selector-append(&, $selector))} {
		@content;
	}
}
@mixin optional-selector($selector) {
	@at-root #{if(not &, $selector, &)} {
		@content;
	}
}
@mixin clearfix {
	#{'*zoom'}: 1; // For IE 6/7 only
	&:before,
	&:after {
		display: table;
		content: ' ';
	}
	&:after {
		clear: both;
	}
}
@mixin border-radius($radius: $border-radius) {
	@if $enable-border-radius {
		border-radius: $radius;
	}
}
@mixin box-shadow($shadow...) {
	@if $enable-shadows {
		box-shadow: $shadow;
	}
}
@mixin transition(
	$property: all,
	$duration: $transition-duration,
	$timing: $transition-timing
	) {
	@if $enable-transitions {
		$property: if(type-of($property) == string, unquote($property), $property);
		$duration: if(type-of($duration) == string, unquote($duration), $duration);
		$timing: if(type-of($timing) == string, unquote($timing), $timing);
		transition-duration: $duration;
		transition-property: $property;
		transition-timing-function: $timing;
	}
}
@mixin trailing-content(
	$place: after,
	$z-index: -1,
	$top: 0,
	$right: 0,
	$bottom: 0,
	$left: 0
	) {
	position: relative;
	&:#{$place} {
		position: absolute;
		top: $top;
		right: $right;
		bottom: $bottom;
		left: $left;
		content: '';
		z-index: $z-index;
		pointer-events: none;
		@content;
	}
}
@mixin placeholder($color: null) {
	@include optional-at-root('::-webkit-input-placeholder') { color: $color; @content; }
	@include optional-at-root('::-moz-placeholder') { color: $color; @content; }
	@include optional-at-root(':-moz-placeholder') { color: $color; @content; }
	@include optional-at-root(':-ms-input-placeholder') { color: $color; @content; }
}
@mixin selection {
	@include optional-at-root('::-moz-selection') { @content; }
	@include optional-at-root('::selection') { @content; }
}
