// Typography
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-family: $font-family-heading;
	font-weight: $font-weight-heading;
	text-rendering: optimizeLegibility;
}
.h1 {
	@include font-size(5);
}
.h2 {
	@include font-size(4);
}
.h3 {
	@include font-size(3);
}
.h4 {
	@include font-size(2);
}
.h5 {
	@include font-size(1);
}
.h6 {
	@include font-size(0);
}
.small {
	@include font-size(-1, normal);
}
.xsmall {
	@include font-size(-2, normal);
}
.b, .strong {
	font-weight: $font-weight-bold;
}
.italic {
	font-style: italic;
}
.mark {
	padding: 0.1em 0;
	background-color: $color-mark-text-background;
}

// Other
.background-transparent {
	background: transparent;
}
