// Neutral colors
$gray-900:			#212121;
$gray-800:			#424242;
$gray-700:			#616161;
$gray-600:			#757575;
$gray-500:			#9E9E9E;
$gray-400:			#BDBDBD;
$gray-300:			#E0E0E0;
$gray-200:			#EEEEEE;
$gray-100:			#F5F5F5;
$gray-50:			#FAFAFA;

$alpha-black-900:	rgba(0, 0, 0, 0.87);
$alpha-black-800:	rgba(0, 0, 0, 0.74);
$alpha-black-700:	rgba(0, 0, 0, 0.62);
$alpha-black-600:	rgba(0, 0, 0, 0.54);
$alpha-black-500:	rgba(0, 0, 0, 0.38);
$alpha-black-400:	rgba(0, 0, 0, 0.26);
$alpha-black-300:	rgba(0, 0, 0, 0.12);
$alpha-black-200:	rgba(0, 0, 0, 0.065);
$alpha-black-100:	rgba(0, 0, 0, 0.04);
$alpha-black-50:	rgba(0, 0, 0, 0.02);

$alpha-white-900:	rgba(255, 255, 255, 0.98);
$alpha-white-800:	rgba(255, 255, 255, 0.96);
$alpha-white-700:	rgba(255, 255, 255, 0.935);
$alpha-white-600:	rgba(255, 255, 255, 0.88);
$alpha-white-500:	rgba(255, 255, 255, 0.74);
$alpha-white-400:	rgba(255, 255, 255, 0.62);
$alpha-white-300:	rgba(255, 255, 255, 0.46);
$alpha-white-200:	rgba(255, 255, 255, 0.38);
$alpha-white-100:	rgba(255, 255, 255, 0.26);
$alpha-white-50:	rgba(255, 255, 255, 0.13);

// Contrast text color
@function color-luma($c) {
	$r: red(rgba($c, 1));
	$g: green(rgba($c, 1));
	$b: blue(rgba($c, 1));
	@return ( 0.2126 * $r + 0.7152 * $g + 0.0722 * $b ) / 255;
	// @return ( 0.299 * $r + 0.587 * $g + 0.114 * $b ) / 255;
}
@function contrast-color($bg, $dark: #000, $light: #FFF) {
	$luma-bg: color-luma($bg);
	$luma-dark: color-luma($dark);
	$luma-light: color-luma($light);
	$diff-dark: abs($luma-bg -$luma-dark);
	$diff-light: abs($luma-bg -$luma-light);
	@if $diff-dark > $diff-light {
		@return $dark;
	} @else {
		@return $light;
	}
}