@import 'units';
@import 'math';

// The default font size for all text in pixels
$font-size-base: 16px !default;

// The distance between text baselines (vertical rhythm) in pixels.
$line-height-base: 1.5 !default;

// The length unit in which to output rhythm values.
// Supported values: px, em, rem. Percent units can't be used since they
// make calculating padding and margins impractical, and percentage borders are
// not valid or supported in css.
$rhythm-unit: rem !default;

// Allows the `lines-for-font-size` function to round the line height to the
// nearest half line height instead of the nearest integral line height to
// avoid large spacing between lines.
$round-to-nearest-half-line: false !default;

// Ensure there is at least this many pixels of vertical padding above and below the text.
$min-line-padding: 2px !default;

// The ratio paired with base font size to create scale of values for typography font sizes.
$type-scale-ratio: 1.25 !default;

//Output zero without any unit or with the unit.
$output-unitless-zero: true;

$modular-scale-round-function: none; // round, ceil, floor or none

// Modular scale function
@function modular-scale(
	$step: 0,
	$base: $font-size-base,
	$ratio: $type-scale-ratio
	) {
	@if type-of($step) == number and unitless($step) {
		$ms: pow($ratio, $step) * $base;
		@if $modular-scale-round-function == round {
			// Rounds a number to the nearest whole number.
			@return round($ms);
		} @else if $modular-scale-round-function == ceil {
			// Rounds a number up to the next whole number.
			@return ceil($ms);
		} @else if $modular-scale-round-function == floor {
			// Rounds a number down to the previous whole number.
			@return floor($ms);
		} @else {
			@return $ms;
		}
	}
	@return $step;
}

// Calculate baseline height.
@function baseline(
	$line-height: $line-height-base,
	$font-size: $font-size-base
	) {
	@if type-of($line-height) == number and unitless($line-height) {
		@return $font-size * $line-height;
	}
	@return $line-height;
}

// Calculate rhythm units.
@function rhythm(
	$values: 1,
	$unit: $rhythm-unit,
	$from-context: 0,
	$baseline: $line-height-base
	) {

	$from-context: modular-scale($from-context);
	$baseline: baseline($baseline);
	$rhythm-values: null;

	@each $v in $values {

		$value-to-join: $v;

		@if type-of($v) == number and unitless($v)  {

			$value: $v * $baseline;
			$value: convert-length($value, $unit, $from-context);
			$value-to-join: $value;

		} @else if type-of($v) == string and str-index($v, ':') {

			$l: str-slice($v, 1, str-index($v, ':') - 1);
			$l: to-number($l);
			$value: $l * $baseline;
			$value: convert-length($value, $unit, $from-context);

			$o: str-slice($v, str-index($v, ':') + 1);
			$offset: to-number($o);
			$offset: convert-length($offset, $unit, $from-context);

			$value-to-join: $value + $offset;

		}

		@if $output-unitless-zero {
			@if type-of($value-to-join) == number and strip-unit($value-to-join) == 0 {
				$value-to-join: 0;
			}
		}

		$rhythm-values: join($rhythm-values, $value-to-join);

	}
	@if length($rhythm-values) == 1 {
		@return nth($rhythm-values, 1);
	}
	@return $rhythm-values;
}

// Output rhythm units.
@mixin rhythm(
	$property,
	$values: 1,
	$unit: $rhythm-unit,
	$from-context: 0,
	$baseline: $line-height-base
	) {
	#{$property}: rhythm(
		$values,
		$unit,
		$from-context,
		$baseline
	);
}

// Calculate the minimum multiple of rhythm units needed to contain the font-size.
@function lines-for-font-size(
	$font-size,
	$baseline: $line-height-base,
	$round-to-nearest-half-line: $round-to-nearest-half-line,
	$min-line-padding: $min-line-padding
	) {

	$baseline: baseline($baseline);

	$lines: ceil($font-size / $baseline);

	@if $round-to-nearest-half-line {
		$lines: ceil(2 * $font-size / $baseline) / 2;
	}

	// If lines are cramped include some extra lead.
	@if ($lines * $baseline - $font-size) < ($min-line-padding * 2) {
		@if $round-to-nearest-half-line {
			$lines: $lines + 0.5;
		} @else {
			$lines: $lines + 1;
		}
	}

	@return $lines;
}

// Font size
@mixin font-size(
	$font-size: 0,
	$line-height: auto,
	$unit: $rhythm-unit,
	$from-context: 0
	) {

	$font-size: modular-scale($font-size);
	$from-context: modular-scale($from-context);

	font-size: convert-length($font-size, $unit, $from-context);

	@if $line-height {
		@if $line-height == auto {
			$line-height: lines-for-font-size($font-size);
		}
		@if type-of($line-height) == number and unitless($line-height) {
			@if $unit == em {
				$from-context: $font-size;
			}
			@include rhythm(line-height, $line-height, $unit, $from-context);
		} @else {
			line-height: #{$line-height};
		}
	}
}

// Establishes a font baseline for the given font-size.
@mixin establish-baseline() {
	html {
		font-size: $font-size-base;
		line-height: convert-length(baseline(), em, $font-size-base);
	}
}

// Relative border
@function relative-border-width(
	$border-size-px: 1px,
	$from-context: 0
	) {
	$from-context: modular-scale($from-context);
	@return convert-length($border-size-px, em, $from-context);
}
@mixin relative-border-width(
	$border-size-px: 1px,
	$side: all,
	$from-context: 0
	) {
	$property: if($side == all, border-width, border-#{$side}-width);
	#{$property}: relative-border-width($border-size-px, $from-context);
}
