// Output mobile first media queries if true
$mobile-first: true !default;

// The default font size for all text in pixels
$font-size-base: 12px 16px !default;

// The distance between text baselines (vertical rhythm) in pixels.
$line-height-base: 1.5 1.5 !default;

// Allows the `lines-for-font-size` function to round the line height to the
// nearest half line height instead of the nearest integral line height to
// avoid large spacing between lines.
$round-to-nearest-half-line: false false !default;

// Ensure there is at least this many pixels of vertical padding above and
// below the text.
$min-line-padding: 2px 2px !default;

// The ratio paired with base font size to create scale of values for typography font sizes.
$type-scale-ratio: 1.125 1.25 !default;

$rhythm-responsive-fallbacks: false;

@import 'rhythm';
@import 'breakpoints';

// This functions will return min and max values from var
@function min-val($var) {
	@return nth($var, 1);
}
@function max-val($var) {
	@return if(length($var) > 1, nth($var, 2), $var);
}

// Modular scale function
@function modular-scale-min(
	$step: 0,
	$base: $font-size-base,
	$ratio: $type-scale-ratio
	) {
	@return modular-scale(
		min-val($step),
		min-val($base),
		min-val($ratio)
	);
}
@function modular-scale-max(
	$step: 0,
	$base: $font-size-base,
	$ratio: $type-scale-ratio
	) {
	@return modular-scale(
		max-val($step),
		max-val($base),
		max-val($ratio)
	);
}

// Calculate base line height if base line height is unitless number.
@function baseline-min(
	$line-height: $line-height-base,
	$font-size: $font-size-base
	) {
	@return baseline(
		min-val($line-height),
		min-val($font-size)
	);
}
@function baseline-max(
	$line-height: $line-height-base,
	$font-size: $font-size-base
	) {
	@return baseline(
		max-val($line-height),
		max-val($font-size)
	);
}

// Responsive properties
@function responsive-calc(
	$value-min,
	$value-max: $value-min,
	$lower-bound: breakpoint-first-width(px),
	$upper-bound: breakpoint-last-width(px),
	$from-context-min: 0,
	$from-context-max: 0,
	$calc-keyword: true,
	$return-fallback: false
	) {

	@if $value-min == $value-max {
		@return $value-min;
	}

	$from-context-min: modular-scale-min($from-context-min);
	$from-context-max: modular-scale-max($from-context-max);

	@if length($value-min) == length($value-max) {

		@if type-of($value-min) == type-of($value-max) {

			$fallbacks: null;
			$calcs: null;

			@for $i from 1 through length($value-min) {

				$v-min: nth($value-min, $i);
				$v-max: nth($value-max, $i);

				@if type-of($v-min) == number and type-of($v-max) == number {

					@if $v-min == 0 and unitless($v-max) == false {
						$v-min: convert-length($v-min, unit($v-max), $from-context-min);
					} @else if $v-max == 0 and unitless($v-min) == false {
						$v-max: convert-length($v-max, unit($v-min), $from-context-max);
					}

					@if unit($v-min) == unit($v-max) {

						@if $v-min == $v-max {
							$fallbacks: join($fallbacks, $v-min);
							$calcs: join($calcs, $v-min);
						} @else {

							$unit: if(unitless($v-min), $rhythm-unit, unit($v-min));
							$lower-bound: convert-length($lower-bound, $unit, $from-context-min);
							$upper-bound: convert-length($upper-bound, $unit, $from-context-max);

							// min-size + (min-size-no-unit - max-size-no-unit) * ((100vw - min-width) / (max-width-no-unit - min-width-no-unit))
							$calc: '#{$v-min} + #{strip-unit($v-max - $v-min)} * ((100vw - #{$lower-bound}) / #{strip-unit($upper-bound - $lower-bound)})';

							@if $calc-keyword == true {
								$calc: calc(#{unquote($calc)});
							}

							$fallbacks: join($fallbacks, ($v-min + $v-max) / 2);
							$calcs: join($calcs, $calc);
						}
					} @else {
						@warn 'Unit of "$value-min: #{$value-min}" and "$value-max: #{$value-max}" is not the same.';
					}
				} @else {
					@if $v-min == $v-max {
						$fallbacks: join($fallbacks, $v-min);
						$calcs: join($calcs, $v-min);
					} @else {
						@warn 'Non-number values in "$value-min: #{$value-min}" and "$value-max: #{$value-max}" are not the same.';
						@if $mobile-first {
							$fallbacks: join($fallbacks, $v-min);
							$calcs: join($calcs, $v-min);
						} @else {
							$fallbacks: join($fallbacks, $v-max);
							$calcs: join($calcs, $v-max);
						}
					}
				}
			}
			@if $return-fallback {
				@return $fallbacks;
			} @else {
				@return $calcs;
			}
		} @else {
			@warn 'Type of "$value-min: #{$value-min}" and "$value-max: #{$value-max}" is not the same.';
		}
	} @else {
		@warn 'Number of values in "$value-min: #{$value-min}" and "$value-max: #{$value-max}" is not the same.';
	}

	@if $mobile-first {
		@return $value-min;
	}
	@return $value-max;
}
@mixin responsive(
	$property,
	$value-min,
	$value-max: $value-min,
	$from-context-min: 0,
	$from-context-max: 0,
	$fallback: $rhythm-responsive-fallbacks,
	$media-type: $default-media-type,
	$responsive-part: all,
	$override-property: false
	) {

	$from-context-min: modular-scale-min($from-context-min);
	$from-context-max: modular-scale-max($from-context-max);

	@if $value-min == $value-max and $override-property == false {
		#{$property}: $value-min;
	} @else {

		$value-1: $value-max;
		$value-2: $value-min;

		$value-calc: responsive-calc(
			$value-min,
			$value-max,
			$from-context-min: $from-context-min,
			$from-context-max: $from-context-max
		);
		$value-calc-fallback: responsive-calc(
			$value-min,
			$value-max,
			$from-context-min: $from-context-min,
			$from-context-max: $from-context-max,
			$return-fallback: true
		);

		$from-1: false;
		$from-2: false;

		$until-1: breakpoint-last();
		$until-2: breakpoint-first();

		@if $mobile-first {
			$value-1: $value-min;
			$value-2: $value-max;

			$from-1: breakpoint-first();
			$from-2: breakpoint-last();

			$until-1: false;
			$until-2: false;
		}

		@if $responsive-part == all {
			#{$property}: $value-1;
			@include media-query($from: $from-1, $until: $until-1, $media-type: $media-type) {
				@if $fallback {
					#{$property}: $value-calc-fallback;
				}
				#{$property}: $value-calc;
			}
			@include media-query($from: $from-2, $until: $until-2, $media-type: $media-type) {
				#{$property}: $value-2;
			}
		} @else if $responsive-part == min {
			#{$property}: $value-min;
		} @else if $responsive-part == mid {
			@if $fallback {
				#{$property}: $value-calc-fallback;
			}
			#{$property}: $value-calc;
		} @else if $responsive-part == max {
			#{$property}: $value-max;
		} @else {
			@warn 'Unkonwn value "$responsive-part: #{$responsive-part}".';
		}
	}
}
@mixin responsive-override(
	$property,
	$value,
	$from-context: 0,
	$media-type: $default-media-type
	) {
	@include responsive(
		$property,
		$value,
		$value,
		$from-context,
		$from-context,
		$media-type: $media-type,
		$override-property: true
	);
}

// Calculate rhythm units.
@function rhythm-min(
	$values: 1,
	$unit: $rhythm-unit,
	$from-context: 0
	) {
	@return rhythm(
		$values,
		$unit,
		modular-scale-min($from-context),
		baseline-min()
	);
}
@function rhythm-max(
	$values: 1,
	$unit: $rhythm-unit,
	$from-context: 0
	) {
	@return rhythm(
		$values,
		$unit,
		modular-scale-max($from-context),
		baseline-max()
	);
}

// Output rhythm units.
@mixin rhythm(
	$property,
	$value-min: 1,
	$value-max: $value-min,
	$unit: $rhythm-unit,
	$from-context: 0,
	$fallback: $rhythm-responsive-fallbacks,
	$media-type: $default-media-type,
	$responsive-part: all
	) {
	$from-context-min: modular-scale-min($from-context);
	$from-context-max: modular-scale-max($from-context);
	$value-min: rhythm-min($value-min, $unit, $from-context-min);
	$value-max: rhythm-max($value-max, $unit, $from-context-max);
	@include responsive(
		$property,
		$value-min,
		$value-max,
		$from-context-min,
		$from-context-max,
		$fallback,
		$media-type,
		$responsive-part
	);
}

// Calculate the minimum multiple of rhythm units needed to contain the font-size.
@function lines-for-font-size-min($font-size) {
	@return lines-for-font-size(
		min-val($font-size),
		baseline-min(),
		min-val($round-to-nearest-half-line),
		min-val($min-line-padding)
	);
}
@function lines-for-font-size-max($font-size) {
	@return lines-for-font-size(
		max-val($font-size),
		baseline-max(),
		max-val($round-to-nearest-half-line),
		max-val($min-line-padding)
	);
}

// Font size
@mixin font-size(
	$font-size: 0,
	$line-height: auto,
	$unit: $rhythm-unit,
	$from-context: 0,
	$fallback: $rhythm-responsive-fallbacks,
	$media-type: $default-media-type,
	$responsive-part: all
	) {

	$font-size-min: modular-scale-min($font-size);
	$font-size-max: modular-scale-max($font-size);

	$from-context-min: modular-scale-min($from-context);
	$from-context-max: modular-scale-max($from-context);

	@include responsive(
		font-size,
		convert-length($font-size-min, $unit, $from-context-min),
		convert-length($font-size-max, $unit, $from-context-max),
		$from-context-min,
		$from-context-max,
		$fallback,
		$media-type,
		$responsive-part
	);

	@if $line-height {

		$line-height-min: min-val($line-height);
		$line-height-max: max-val($line-height);

		@if $line-height-min == auto {
			$line-height-min: lines-for-font-size-min($font-size-min);
		}
		@if $line-height-max == auto {
			$line-height-max: lines-for-font-size-max($font-size-max);
		}

		@if type-of($line-height-min) == number and type-of($line-height-max) == number {
			@if $unit == em {
				$from-context-min: $font-size-min;
				$from-context-max: $font-size-max;
			}
			@include rhythm(
				line-height,
				$line-height-min,
				$line-height-max,
				$unit,
				$from-context-min $from-context-max,
				$fallback,
				$media-type,
				$responsive-part
			);
		} @else {
			@if $mobile-first {
				line-height: #{$line-height-min};
			} @else {
				line-height: #{$line-height-max};
			}
		}
	}
}

// Establishes a font baseline for the given font-size.
@mixin establish-baseline() {
	$font-size-min: min-val($font-size-base);
	$font-size-max: max-val($font-size-base);
	$line-height-min: min-val($line-height-base);
	$line-height-max: max-val($line-height-base);
	html {
		@include responsive(
			font-size,
			$font-size-min,
			$font-size-max
		);
		@include responsive(
			line-height,
			convert-length(baseline-min(), em, $font-size-min),
			convert-length(baseline-max(), em, $font-size-max)
		);
	}
}

// Relative border
@function relative-border-width-min(
	$border-size-px: 1px,
	$from-context: 0
	) {
	$border-size-px: min-val($border-size-px);
	$from-context: modular-scale-min($from-context);
	@return convert-length($border-size-px, em, $from-context);
}
@function relative-border-width-max(
	$border-size-px: 1px,
	$from-context: 0
	) {
	$border-size-px: max-val($border-size-px);
	$from-context: modular-scale-max($from-context);
	@return convert-length($border-size-px, em, $from-context);
}
@mixin relative-border-width(
	$border-size-px: 1px 2px,
	$side: all,
	$from-context: 0,
	$fallback: $rhythm-responsive-fallbacks,
	$media-type: $default-media-type,
	$responsive-part: all
	) {
	@include responsive(
		if($side == all, border-width, border-#{$side}-width),
		relative-border-width-min($border-size-px),
		relative-border-width-max($border-size-px),
		$from-context,
		$from-context,
		$fallback,
		$media-type,
		$responsive-part
	);
}
